<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta charset="UTF-8">
    <title th:if="${title}" th:text="${title}">Default Title</title>
    <title th:unless="${title}">Default Title</title>
    <!-- Ваши общие стили -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/logo/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/logo/favicon.svg" />
    <link rel="shortcut icon" href="/logo/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/logo/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Kitchen" />
    <link rel="manifest" href="/logo/site.webmanifest" />


</head>

<body>

<header th:fragment="common-header" class="header-logo">
    <div class="container d-flex align-items-center">
        <a href="/" class="me-3">
            <img src="/img/logo_kitchen.png"
                 alt="Логотип Paylogic-Kitchen"
                 class="img-fluid"
                 style="height: 50px;">
        </a>
        <a href="/" th:text="${headerName}" style="text-decoration: none;"
             class="text-light fw-bold fs-2 me-auto">
        </a>

        <!-- Кнопка Рейтинг -->
        <a th:href="@{/rating}" class="btn btn-outline-light">
            🏆 Рейтинг
        </a>
    </div>
</header>

<footer th:fragment="common-footer" class="custom-footer">
    <div class="container-fluid">
        <p>&copy; 2025 Paylogic Kitchen <span th:text="'v' + ${appVersion}">v1.0.0</span></p>
    </div>
</footer>

</body>
</html>